<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CarZoneDatabaseConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=CarZoneDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CarZoneTestDBConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=CarZoneTestDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CarZoneDBInternet" connectionString="Server=gamehosting.dyndns.org\sqlexpress;Database=CarZone;User Id=user;Password=zxcqwe123;"
      providerName="System.Data.SqlClient" />
    <add name="CarZoneDBLocal" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=CarZone;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>