/* Check if database already exists and delete it if it does exist*/
IF EXISTS(SELECT 1 FROM master.dbo.sysdatabases WHERE name = 'CarZone') 
BEGIN
DROP DATABASE CarZone
END
GO

CREATE DATABASE CarZone
GO

USE [CarZone]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartId] [int] IDENTITY(1,1) NOT NULL,
	[PartName] [nvarchar](50) NOT NULL,
	[PartDescription] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[SerialNumber] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImageOnFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[PartId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

INSERT INTO Parts (PartName, PartDescription, Manufacturer, Price, SerialNumber, Quantity, ImageOnFile)
VALUES ('Catalytic Converter','This Catalytic Converter fits Mercedes-Benz vehicles from year 1999-2005','Mercedes-Benz','850','53849344','2','Images/Parts/Mercedes_Catalytic_Converter_1.jpg');

INSERT INTO Parts (PartName, PartDescription, Manufacturer, Price, SerialNumber, Quantity, ImageOnFile)
VALUES ('Cooling Fan','This Cooling Fan fits Mercedes-Benz vehicles from year 1999-2005','Mercedes-Benz','350','44234234','1','Images/Parts/Mercedes_Cooling_Fan_1.jpg');

INSERT INTO Parts (PartName, PartDescription, Manufacturer, Price, SerialNumber, Quantity, ImageOnFile)
VALUES ('Radiator','This Radiator fits Mercedes-Benz vehicles from year 1999-2005','Mercedes-Benz','550','54342223','3','Images/Parts/Mercedes_Radiator_1.jpg');






















/****** Object:  Table [dbo].[Cars]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[EngineSize] [nvarchar](50) NOT NULL,
	[FuelType] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[BodyType] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[ImageOnFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

INSERT INTO Cars (Make, Model, EngineSize, FuelType, Color, BodyType, Price, ImageOnFile)
VALUES ('Audi','A2','1.6 L','Petrol','Silver','5-door Hatchback','10000','Images/Cars/Audi_A2_Silver.jpg');

INSERT INTO Cars (Make, Model, EngineSize, FuelType, Color, BodyType, Price, ImageOnFile)
VALUES ('Audi','A2','1.8 L','Diesel','Black','5-door Hatchback','9000','Images/Cars/Audi_A2_Black.jpg');

INSERT INTO Cars (Make, Model, EngineSize, FuelType, Color, BodyType, Price, ImageOnFile)
VALUES ('Audi','A2','2.0 L','Petrol','Red','5-door Hatchback','8500','Images/Cars/Audi_A2_Red.jpg');































/****** Object:  Table [dbo].[Admins]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ContactNumber] [int] NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[ContactNumber] [int] NOT NULL,
	[DateOfBirth] [date] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAccounts]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_CustomerAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

INSERT INTO Customers (FirstName, LastName, Address, ContactNumber, DateOfBirth)
VALUES ('Eleanore','Robbins','2846 Windy Ridge Road, Angola, IN 46703','260624051','19790517');

INSERT INTO CustomerAccounts (Email, Password, CustomerId) 
VALUES ('EleanoreARobbins@dayrep.com','maequ2iek6Oh',SCOPE_IDENTITY());

INSERT INTO Customers (FirstName, LastName, Address, ContactNumber, DateOfBirth)
VALUES ('Daryl','Hanes','4487 Raoul Wallenberg Place, New Haven, CT 06511','203848064','19670211');

INSERT INTO CustomerAccounts (Email, Password, CustomerId) 
VALUES ('DarylUHanes@armyspy.com','Prut1952',SCOPE_IDENTITY());

INSERT INTO Customers (FirstName, LastName, Address, ContactNumber, DateOfBirth)
VALUES ('Caren','Morris','4001 Lakeland Terrace, Romulus, MI 48174','734247667','19820412');

INSERT INTO CustomerAccounts (Email, Password, CustomerId) 
VALUES ('CarenTMorris@dayrep.com','waong5Wai4',SCOPE_IDENTITY());







/****** Object:  Table [dbo].[AdminAccounts]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[AdminId] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

INSERT INTO Admins (Name, Address, ContactNumber)
VALUES ('Michael W. Hovis','1634 Sundown Lane, Buda, TX 78610','512298466');

INSERT INTO AdminAccounts (Email, Password, AdminId) 
VALUES ('MichaelWHovis@dayrep.com','boqu7Uad2ph',SCOPE_IDENTITY());

INSERT INTO Admins (Name, Address, ContactNumber)
VALUES ('Hannah R. Neal','64 Little Street, New Philadelphia, OH 44663','330602158');

INSERT INTO AdminAccounts (Email, Password, AdminId) 
VALUES ('HannahRNeal@rhyta.com','yuK3shei',SCOPE_IDENTITY());

/****** Object:  Table [dbo].[Orders]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderStatus] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 03/15/2015 21:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_AdminAccounts_Admins]    Script Date: 03/15/2015 21:57:43 ******/
ALTER TABLE [dbo].[AdminAccounts]  WITH CHECK ADD  CONSTRAINT [FK_AdminAccounts_Admins] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admins] ([AdminId])
GO
ALTER TABLE [dbo].[AdminAccounts] CHECK CONSTRAINT [FK_AdminAccounts_Admins]
GO
/****** Object:  ForeignKey [FK_CustomerAccounts_Customers]    Script Date: 03/15/2015 21:57:43 ******/
ALTER TABLE [dbo].[CustomerAccounts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccounts_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerAccounts] CHECK CONSTRAINT [FK_CustomerAccounts_Customers]
GO
/****** Object:  ForeignKey [FK_Items_Orders]    Script Date: 03/15/2015 21:57:43 ******/
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Orders]
GO
/****** Object:  ForeignKey [FK_Orders_Customers]    Script Date: 03/15/2015 21:57:43 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
