body
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}

#wrapper
{
    width: 1200px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 25px;
    overflow: hidden;
}

#banner
{
}

#navigation
{
    height: 45px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
    font-weight: bold;
    font-size: large;
}

#nav
{
    display: block;
    list-style: none;
    text-align: center;
}

#nav ul
{
    display: none;
    list-style: none;
}

#nav li
{
    float: left;
    display: block;
    margin-top: 5px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #FFFFFF;
}

#nav a:link, #nav a :visited, #nav a:active
{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

#nav a:hover
{
    background-color: white;
}

#content
{
    padding: 20px;
    min-height: 400px;
}

#ContentPlaceHolder1_pnlProducts div
{
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
}

.productImage
{
    width: 250px;
    height: 250px;
    vertical-align: middle;
    padding: 10px;
    border: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.productName
{
    font-size: 18px;
    font-weight: bold;
}

.productPrice
{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFB600;
}

.detailsImage
{
    margin-right: 20px;
}

.deatilsDescription
{
    width: 400px;
    font-style: italic;
}

.deatilsPrice
{
    font-size: 24px;
    font-weight: bold;
}

.button
{
    padding: 10px;
    margin: 10px;
    color: #ffffff;
    border: 0;
    border: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    background: linear-gradient(to bottom, #3340cc, #3366CC);
}

.buttonSmall
{
    padding: 7px;
    margin: 1px;
    color: #ffffff;
    border: 0;
    border: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    background: linear-gradient(to bottom, #3340cc, #3366CC);
}

.buttonPager
{
    padding: 5px !important;
    margin: 1px !important;
    color: #ffffff !important;
    border: 0 !important;
    border: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    clear: both !important;
    background: linear-gradient(to bottom, #3340cc, #3366CC) !important;
}

.buttonLeft
{
    float: left;
}

.buttonRight
{
    float: right;
}

.displayCarsTable-1
{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.displayCarsTable-2
{
    font-family: Arial, Sans-Serif;
    color: #3366CC;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.displayCarsTable-3
{
    height: 230px;
    width: 290px;
    text-align: center;
}

.displayCarsTable-4
{
    font-family: Arial, Sans-Serif;
    color: #3366CC;
    font-size: 12pt;
    font-weight: bold;
    height: 230px;
    width: 470px;
    text-align: center;
}

.displayCarDetails
{
    padding-left: 92%;
}

.carsTableHeader
{
    width: 95%;
    margin: 2px 2px 2px 0;
}

.carsTable
{
    width: 96%;
    margin: 2px 2px 2px 0;
    border: 3px solid #E3E3E3;
    border: 10px;
    -moz-border-radius: 10px;
}

.carsTable tr th, .carsTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.carsTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

.partsTableHeader
{
    width: 95%;
    margin: 2px 2px 2px 0;
}

.partsTable
{
    width: 96%;
    margin: 2px 2px 2px 0;
    border: 3px solid #E3E3E3;
    border: 10px;
    -moz-border-radius: 10px;
}

.partsTable tr th, .partsTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.partsTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

.pageLabelColor
{
    color: #3366CC;
    text-align: center;
}

.boldTextSmall
{
    font-size: small;
    font-weight: bold;
}

.boldTextMedium
{
    font-size: medium;
    font-weight: bold;
}

.boldTextLarge
{
    font-size: large;
    font-weight: bold;
}

.boldTextLarger
{
    font-size: larger;
    font-weight: bold;
}
